<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="post">
        <label for="username">type in a new username</label>
        <input type="text" id="username" name="username">
    </form>
    <form action="/delete" method="get">
        <button>DELETE USERNAMES FROM DB</button>
    </form>
</body>
</html>